* {
    box-sizing:border-box;
    font-family:'Raleway', sans-serif;
}
body {
    padding:0px;
    margin:0px;
}
header {
    background-color:rgb(45, 175, 255);
    text-align:center;
}

#container{
    display:inline-block;
    margin: 20px;
}

li {
    padding:10px;
    text-decoration: none;
    background-color:rgb(45, 175, 255);
    list-style-type:none;
}
li a {
    text-decoration:none;
    color:rgb(5,10,45);
    font-weight:500;
}
ul {
    padding:0px;
    margin:0px;
}

article#adregg{
    margin-left: 20px;
	float:left;
}
input#verzend{
    margin-right: 210px;
    float: right;
}

ul#from, li#from{
    background-color: white;
}
footer {
    float:right;
    width:100%;
    height:200px;
    background-color:rgb(150,150,150);
}
section#foot{
    color: white;
    padding-left: 20px;
    float: left;
}

section#copy, section#foot a{
    color: white;
}
	
@media all and (min-width:1000px) {
    div.center { /*class=div.center, id=div#center */
        width:1000px;
        margin:auto;
    }
}
@media all and (min-width:600px) {
	article#adresgegevens{
		padding-right:0%;
		float:left;
		width:70%;
		padding-left:20px;
	}
	article#contact {
		width:90%;
	}
    ul {
        background-color: rgb(45, 175, 255);
        padding-left: 20px;
        padding: 10px;
    }

    li {
        display: inline-block;
        border: none;
    }
}
@media all and (min-width:800px) {
	article {
		display:inline-block;
	}
	article#contact {
		width:60%;
	}
	article#adresgegevens {
		float:right;
		width:35%;
		padding-right:4%;
		padding-left:0%;
	}
}